# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/4h6a5f21/x86/additional_project_files.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/4h6a5f21/x86/android_gradle_build.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4h6a5f21/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/build.ninja
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/4h6a5f21/x86/build.ninja
/android/app/.cxx/Debug/4h6a5f21/x86_64/build.ninja
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/4h6a5f21/x86/build_file_index.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/build_file_index.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/reply/cache-v2-740b73bcf329e09bca64.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/reply/cache-v2-aa5b5606538b8d398fe4.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/reply/cache-v2-d523f7043e0f91b911a7.json
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/reply/cache-v2-e85c5af6a0e5e5f9a0a9.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/4h6a5f21/x86/cmake_install.cmake
/android/app/.cxx/Debug/4h6a5f21/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeCache.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-6fe6fd96f1328a91daac.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-74a7686d52d8f20f2003.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-e02675c46a5d6b828c0a.json
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/reply/cmakeFiles-v1-f59849b7ed153ae85780.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-27161b5379fab57e7b7f.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/reply/codemodel-v2-5432797d0bf388e601b2.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-b41c29f335f1135e4c70.json
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/reply/codemodel-v2-bf8ffd2ef66ce9958e02.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/4h6a5f21/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/4h6a5f21/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4h6a5f21/hash_key.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/.cmake/api/v1/reply/index-2025-06-10T02-23-01-0836.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/.cmake/api/v1/reply/index-2025-06-10T02-23-02-0094.json
/android/app/.cxx/Debug/4h6a5f21/x86/.cmake/api/v1/reply/index-2025-06-10T02-23-02-0301.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/.cmake/api/v1/reply/index-2025-06-10T02-23-02-0518.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/4h6a5f21/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/4h6a5f21/x86/prefab_config.json
/android/app/.cxx/Debug/4h6a5f21/x86_64/prefab_config.json
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/4h6a5f21/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/4h6a5f21/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4h6a5f21/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4h6a5f21/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4h6a5f21/x86_64/CMakeFiles/TargetDirectories.txt
